<printinfo>

  <paperformats>
    <paperformat>A4</paperformat>
    <paperformat>A3</paperformat>
    <paperformat>A2</paperformat>
    <paperformat>A1</paperformat>
    <paperformat>A0</paperformat>
  </paperformats>

  <printerlist>
    <A0>
      <defaultprinter>HP LaserJet 1200 Series PCL (Copy 1)</defaultprinter>
      <printer>HP LaserJet 1200 Series PCL (Copy 1)</printer>
    </A0>
    <A1>
      <defaultprinter>HP LaserJet 1200 Series PCL (Copy 1)</defaultprinter>
    </A1>
    <A2>
      <defaultprinter>HP LaserJet 1200 Series PCL (Copy 1)</defaultprinter>
    </A2>
    <A3>
      <defaultprinter>HP LaserJet 1200 Series PCL (Copy 1)</defaultprinter>
    </A3>
    <A4>
      <defaultprinter>HP LaserJet 1200 Series PCL (Copy 1)</defaultprinter>
    </A4>
  </printerlist>  

  <defaultUnknownFormat>
    <defaultformat>A3</defaultformat>
  </defaultUnknownFormat>

  <kopblad_stuklijst_Format>
    <defaultformat>A3</defaultformat>
  </kopblad_stuklijst_Format>

</printinfo>